.main__catalogo{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 50px 0 50px;
  gap: 60px;

}
.card__catalogo{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 335px;
  height: 485px;
  background: #F1F0F5;
  border: none;
  box-shadow: 2px 3px 5px rgb(0 0 0 / 25%);
  border-radius: 47px;
  align-items: center;
  margin-bottom: 110px;
}
.card__title{
  font-family: 'Poppins';
  text-align: center;
  padding: 30px 0 5px;
}
.card__image{
  width: 230px;
  height: 200px;
  border-radius: 30px;
}
.button__doar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 199px;
  height: 68px;
  margin-top: 26px;
  border: none;
  background:  #FFC800;
    box-shadow: #3c3b3d98 2px 3px 4px ;
  border-radius: 34px;

  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;


 background-image: url(../../assets/images/coracao.png);
  background-position:20%;
  background-repeat: no-repeat;
}
.button__receber{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 241px;
  height: 68px;
  margin-top: 26px;
  border: none;
  background:  #FFC800;
  border-radius: 34px;
  box-shadow: #3c3b3d98 2px 3px 4px ;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  
  background-image: url(../../assets/images/delivery.png);
  background-position:15%;
  background-repeat: no-repeat;
  
}