@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.link-default {
    text-decoration: none;
}

.container-home {
    width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: auto;

}

.page1 {
    width: 100vw;
    background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);

}

.page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 112px;
}

.header-home {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);

}

.logo-A {
    width: 56px;
    height: 89px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 89px;
    letter-spacing: -0.01em;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent
}

.header__logo {
    width: 160px;
    display: flex;
    align-items: center;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.menu__item {
    margin-left: 36px;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.menu__item-active {
    color: #FFFFFF;
}

.btn-signin {
    all: unset;
    width: 103px;
    height: 40px;
    border: solid 1px #FFFFFF;
    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    text-align: center;

    color: #FFFFFF;

    margin-left: 20px;
}

.page1-text-center {
    
}

.page1-tex1 {
    width: 449px;
    height: 36px;
    padding-top: 118px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
   

    letter-spacing: -0.0005em;

    color: #FFFFFF;

}

.page1-tex2 {
    width: 627px;
    height: 210px;
    padding-top: 30px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;

    letter-spacing: -1px;

    color: #FFFFFF;
}

.imgPage1 {
    width: 698px;
    height: 535px;
}

.container-emp-ong {
    position: relative;
    z-index: 3;
    top: 190px;
    width: 1222px;
    display: flex;
    text-align: center;
}

.container-emp {
    width: 50%;
    height: 50%;
    padding-top: 59px;
    background: #0481C2;
}

.container-ong {
    width: 50%;
    height: 50%;
    padding-top: 59px;
    background: #06B694;
}

.icon-heart1 {
    width: 74px;
    height: 74px;
}

.item-title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    /* identical to box height, or 60px */

    color: #FFFFFF;
}

.item-description {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */

    color: #FFFFFF;
}

.btn-registration {
    all: unset;

    width: 217px;
    height: 41px;
    margin-top: 21px;
    border: solid 1px #FFFFFF;
    border-radius: 122px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */

    text-align: right;

    color: #FFFFFF;

    text-align: center;
    color: #FFFFFF;
}
.item__arrow-up{
    padding: 16px 0px 27px;
}

.page2 {
    margin-top: 395px;
    padding: 0px 112px;

}

.header-page2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberedList {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    color: #0C0C0C;
}

.listedUp {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    /* or 26px */

    text-align: center;

    color: #131213;
}

.container-qlt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 52px;

}

.container-item {
    box-sizing: border-box;
    width: 280px;
    height: 147.41px;
    padding-top: 10px;

    border: 1px solid #7A7786;
    border-radius: 17px;
    text-align: center;
}

.container-item__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;


    color: #000000;
}

.container-item__description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    /* or 21px */

    text-align: center;

    color: #5F5C6B;
}

.main__page2 {
    display: flex;
    margin-top: 200px;
}

.img__cruz {
    width: 545px;
    height: 574.06px;
}
.main__page2_right{
    padding-left: 40px;
}
.main__page2__item__1 {
    padding-top: 4px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    /* identical to box height, or 31px */

    letter-spacing: -0.005em;

    color: #000000;
}

.main__page2__item__2 {
    padding-top: 9px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    /* or 48px */

    letter-spacing: -0.01em;

    color: #000000;
}

.main__page2__item__3 {
    padding-top: 14px;

    width: 581px;
    height: 143.26px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #000000;
} 