@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}


.link-default, a {
    text-decoration: none;
    color: white;
}


.container-home {
    max-width: calc(122rem +(1.6rem * 2));
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;

}
.main-home{
    width: 100%;
}
.page1 {
    width: 100%;
    height: 800px;
    background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);
}

.page-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 50px;
}

.header-home {
    position: fixed;
    z-index: 5;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);

}

.logo-A {
    width: 56px;
    height: 89px;
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 89px;
    letter-spacing: -0.01em;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text: transparent; */
}

.header__logo {
    width: 160px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}

.menu__item {
    margin-left: 36px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.menu__item-active {
    color: #FFFFFF;
}

.btn-signin {
    all: unset;
    width: 103px;
    height: 40px;
    border: solid 1px #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 20px;
}

.page1-tex1 {
    width: 449px;
    height: 36px;
    padding-top: 118px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: -0.0005em;
    color: #FFFFFF;
    padding-bottom: 30px;

}

.page1-tex2 {
    width: 80%;
    height: 210px;
    padding-top: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 110%;
    letter-spacing: -1px;
    color: #FFFFFF;
}
.image{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.img-page{
    width: 750px;
    height: 600px;
 
}

.container-emp-modal {
    display: flex;
    position: relative;
    z-index: 3;
    top: -60px;
    width: 100%;
    padding: 0 150px;
    text-align: center;
}

.container-emp {
    width: 50%;
    height: 450px;
    padding-top: 59px;
    background: #0481C2;
}

.container-ong-home-modal {
    width: 50%;
    height: 450px;
    padding-top: 59px;
    background: #06B694;
}

.icon-heart1 {
    width: 74px;
    height: 74px;
}

.item-title {
    
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 150%;
    color: #FFFFFF;
}

.item-description {
  
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #FFFFFF;
}

.btn-registration {
    all: unset;
    width: 217px;
    height: 41px;
    margin-top: 21px;
    border: solid 1px #FFFFFF;
    border-radius: 122px;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
   
    text-align: right;
    color: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}
.item__arrow-up{
    padding: 16px 0px 27px;
}

.page2 {
    margin-top: 395px;
    padding: 0px 112px;

}

.header-page2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numberedList {
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    color: #0C0C0C;
}

.listedUp {

    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    color: #131213;
}

.container-qlt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 52px;
    gap: 32px;

}

.container-item {
    box-sizing: border-box;
    width: 280px;
    height: 147.41px;
    padding-top: 16px;
    border: 1px solid #7A7786;
    border-radius: 17px;
    text-align: center;
}

.container-item__title {
    
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 14px;
    color: #000000;
}

.container-item__description {
    font-style: normal;
    padding: 0 8px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    line-height: 115%;
    color: #5F5C6B;
}

.main__page2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 200px;
}

.img_equipe{
     width: 500px; 
}
.main__page2_right{
    margin-left: 100px;
    width:45%;
}
.main__page2__item__1 {
    padding-top: 4px;
    text-align: justify;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #000000;
}

.main__page2__item__2 {
    padding-top: 9px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #000000;
}

.main__page2__item__3 {
    padding-top: 14px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #000000;
} 
.page3{
    flex-wrap: wrap;
    width: 100%;
}
.main-page3{
    display: flex;
    justify-content: space-around;

}
.text-page3{
    padding: 150px 150px ;
}
.description-page3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #4E4B59;
    padding-bottom: 18px;

}
.description2-page3{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.005em;
    color: #000000;
    padding-bottom: 63px;
}
.description3-page3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 110%;
    letter-spacing: -0.005em;
    color: #7A7786;
}
.ilustracao-page3{
 
    padding-right:60px ;
}
.ilustracao-smarthphone{
    width: 480px;
    height: 420px;
    margin-top: 50px;
  
}
.carrossel{
    width: 100%;
    height: 420px;
    background: rgba(241, 240, 245, 0.5);
}
.text-carrossel{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    padding: 34px 0  0 150px;
    color: #4E4B59;
}
.group-carrossel{
    display: flex;
    justify-content: space-around;
    padding-top: 35px;
    padding-left: 120px;
}
.elipse-card{
    display: flex;
    align-items: center;
}
.card-carrossel{
    display: flex;
    justify-content: space-around;
    width: 487px;
    height: 243px;
    background: #FFFFFF;
    border-radius: 43px;
    
}
.group-text-card{
    padding-top: 81px ;
    width: 60%;
}
.text1-card{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: #4E4B59;   
}
.text2-card{
    padding-top: 18px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #4E4B59;
    
}
.bolinhas{
   margin: 30px 0 0 230px;

}
.page4{
    width: 100%;
}
.main-page4{
    display: flex;
    justify-content: space-around;  
    margin-bottom: 117px;
}
.group-text-page4{
    width: 40%;
    margin: 180px 0 0 96px;
}
.text1-page4{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000000;
    padding-bottom:19px ;
}
.text2-page4{
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: -0.01em;
    color: #000000;
    padding-bottom: 19px;
  
}
.description-page3{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: -0.005em;
    color: #4E4B59;
    
}
.button-page4{
    background: #FFDC5C;
    border-radius: 122px;
    border: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    text-align: center;  
    color: #000000;
    width: 234px;
    height: 48px;
}
.image-page4{
    padding-top: 100px;
}
.print-passos{
    width: 100%;

}
.line1-page4{
    display: flex;
    justify-content: center;
}
.footer-home{
   
    width: 100%;
    background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);
}
.group-footer-home{
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 156px 0 ;
}
.group-text-footer{
    width: 70%;
    padding-left: 150px;

}
.logo-footer{
    padding-bottom: 54px;
}
.text1-footer-home{
    font-style: normal;
    font-weight: 400;
    font-size: 5rem;
    color: #F8F8FA;
    padding-bottom: 41px;
}
.text2-footer-home{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #F8F8FA;
    padding-bottom: 41px;
}
.text3-footer-home{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.01em; 
    color: #FFFFFF;
    
}
.input-footer-home{
    padding-left: 50px;
}

.input-footer-nome, .input-footer-email{
    width: 70%;
    height: 55.11px;
    background: #F8F8FA;
    border-radius: 28px;
    margin-bottom:40px ;
}
.textarea-footer{
    width: 70%;
    height: 124px;
    background: #F8F8FA;
    border-radius: 28px;
}
.textarea-footer{
    padding: 1rem ;
    border: none;
    font-size: 16px;

}
.links-footer {
    display: flex;
    justify-content: flex-start;
    padding:  4rem 1rem;
    text-decoration: none;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;

}
 /* @media(max-width: 450px) {
   .container-home{
    display: flex;
    flex-direction: column;
   }
  }  */