@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
}


h1, h2, h3, h4{
  font-family: 'Poppins', sans-serif;
}


p, label {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
}

input{
  all: unset;
  
  color: #242426;
  font-size: 1.8rem;
  width: 100%;
  padding: 0.8rem 0.5rem 0.5rem;
  border-bottom: 0.1rem solid #E2E4E5;

  margin-top: 0.8rem;

  font-family: 'Inter', sans-serif;
}

input:placeholder-shown {
  color: #E2E4E5;
}

<<<<<<< HEAD
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4.4rem 4.4rem 4.4rem 8.8rem;

  width: 100vw;
  
  
  background: #ffffff;
}

.logo__container{
  margin-right: 8.8rem;
=======

.container__formulario{
  display: flex;
  margin: 0 auto;
}

.logo__container{
  margin-top: 4.4rem;
  margin-left: 8.8rem;
  width: 31.3rem;
  height: 5.3rem;
>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e
}



<<<<<<< HEAD
.title h2{
=======
h2{
>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e
  font-size: normal;
  font-weight: 700;
  font-size: 3.2rem;
}

 p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;

  color: #575F6E;
}

.notification{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.6rem;
  gap: 1.6rem;

  background: #F0F2F4;
  border-radius: 0.8rem;
}


.form-cadastro__parceiro{
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: flex-start;
  
  padding: 0.8rem 0rem 0rem;
  gap: 3rem;

  width: 45.6rem;

  margin-top: 4.4rem;
  margin-left: 24.55rem;
  margin-right: 24.55rem;

}

.form-cadastro__parceiro-inputs{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.2rem;
  gap: 3.2rem;

  border: 0.1rem solid #E2E4E5;
  border-radius: 0.8rem;
}

.title__endereco{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.8rem;
  color: #242731;
}

.texto__endereco{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: #575F6E;
}

.container__numero__bairro{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3.2rem;
}

.estado__caixa{

  color: #242426;
  font-size: 1.4rem;
  width: 100%;
  padding: 0.8rem 0.5rem 0.5rem;

  outline: none;
  border: none;
  border-bottom: 0.1rem solid #E2E4E5;

  margin-top: 0.8rem;

  font-family: 'Inter', sans-serif;
}

<<<<<<< HEAD
=======

.btn-enviar-formulario{
  width: 98px;
  height: 48px;

  background: #FFFFFF;
  border: 1px solid #BBBFC1;
  border-radius: 10px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e
.muted__button{
  margin-top: 2.7rem;
  margin-right: 4.4rem;
  width: 4.8rem;
  cursor: pointer;
}