.header{
  display: flex;
  justify-content: center;
}
.title{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 96px;
  padding:  80px 0 62px;
  color: #03836A;
  
}