@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}
:root{
  font-size: 62.5%;

}

.link-default,
a {
    text-decoration: none;
    color: white;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
}


p,
label {
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
}

input {
  all: unset;

  color: #242426;
  font-size: 1.8rem;
  width: 100%;
  padding: 0.8rem 0.5rem 0.5rem;
  border-bottom: 0.1rem solid #E2E4E5;

  margin-top: 0.8rem;

  font-family: 'Inter', sans-serif;
}

input:placeholder-shown {
  color: #E2E4E5;
}

<<<<<<< HEAD:src/index.css

/* .logo__container{
  margin-right: 8.8rem;
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4.4rem 4.4rem 4.4rem 8.8rem;

  width: 100vw;
  
  
  background: #FFFFFF;
}

.title h2{
=======
h2{
>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e:src/index.scss
  font-size: normal;
  font-weight: 700;
  font-size: 3.2rem;
}

 p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.5rem;

  color: #575F6E;
}



.container {
  max-width: calc(121.1rem + (1.6rem * 2));
  margin: 0 auto;
  padding: 0 1.6rem;
}


.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 1.6rem;
  gap: 1.6rem;

  background: #F0F2F4;
  border-radius: 0.8rem;
}


.form-cadastro__parceiro {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD:src/index.css

=======
>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e:src/index.scss
  align-items: flex-start;

  padding: 0.8rem 0rem 0rem;
  gap: 3rem;

  width: 45.6rem;

}

.form-cadastro__parceiro-inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 3.2rem;
  gap: 3.2rem;

  border: 0.1rem solid #E2E4E5;
  border-radius: 0.8rem;
}

.title__endereco {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.0rem;
  line-height: 2.8rem;
  color: #242731;
}

.texto__endereco {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.6rem;

  color: #575F6E;
}

.container__numero__bairro {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 3.2rem;
}

.estado__caixa {

  color: #242426;
  font-size: 1.4rem;
  width: 100%;
  padding: 0.8rem 0.5rem 0.5rem;

  outline: none;
  border: none;
  border-bottom: 0.1rem solid #E2E4E5;

  margin-top: 0.8rem;

  font-family: 'Inter', sans-serif;


}

<<<<<<< HEAD:src/index.css
.muted__button{
=======
.muted__button {
>>>>>>> d8ffaa1d2eafbf2ec1e48063e968f23750bd466e:src/index.scss
  margin-right: 4.4rem;
  width: 4.8rem;
} */