*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container-parceiro{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 0.47);
  backdrop-filter: blur(10px);
  border-radius: 24px;
  display: flex;
  align-items: center;
}
.modal{
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  align-items: center;

}
.modal-parceiro{ 
   z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  width: 460px;
  height: 400px;
  background: linear-gradient(99.31deg, #06B694 7.94%, #00D7D7 95.32%);

}
.modal__logo{
  width: 120px;
}

.modal__description{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;

  color:white;
}
::placeholder{
  color: black;
}
.modal__input{
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}
.input{

  width: 180px;
  height: 30px;

  background: white;
  border-radius: 11px;
  border: none;
  margin-bottom: 20px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;

}
.modal__button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 50px;
 
  border: none;
  border-radius: 12px;
  
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 60px;
  color: rgb(12, 12, 12);
  background-color: white;
  /*background: linear-gradient(99.7deg, #04e9bb 5.04%, #0adac8 63.46%, #03dddd 100.54%);*/
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.button{
  display: flex;
  justify-content: center;
 
}